## Python Practice 2

## Numbers

### Question 1
Insert the correct syntax to convert x into a floating point number.

In [1]:
x = 5

In [2]:
x

5

In [3]:
type(x)

int

In [4]:
x = float(x)
type(x)

float

## Lists

### Question 2
Print the second item in the fruits list.

In [5]:
fruits = ["apple", "banana", "cherry"]

In [6]:
fruits

['apple', 'banana', 'cherry']

In [7]:
type(fruits)

list

In [8]:
print(fruits[2])

cherry

### Question 3
Change the value from "apple" to "kiwi", in the fruits list.

In [9]:
fruits = ["apple", "banana", "cherry"]

In [10]:
fruits

['apple', 'banana', 'cherry']

In [12]:
fruits[2] = "kiwi"
fruits[2]

'kiwi'

### Question 4
Use the append method to add "orange" to the fruits list.

In [13]:
fruits = ["apple", "banana", "cherry"]

In [14]:
fruits

['apple', 'banana', 'cherry']

In [15]:
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

### Question 5
Add "orange" to the fruits set.

In [16]:
fruits = {"apple", "banana", "cherry"}

In [17]:
fruits.add("orange")
fruits

{'apple', 'banana', 'cherry', 'orange'}

### Question 6
Use the correct method to add multiple items (more_fruits) to the fruits set.

In [18]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes", "apple", "apple"]

In [19]:
fruits.update(more_fruits)

In [20]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

### Question 7
Use the get method to print the value of the "model" key of the car dictionary.

In [21]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [22]:
type(car)

dict

In [26]:
print(car.get('model'))

Mustang

### Question 8
Remove "model" from the car dictionary.

In [31]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [32]:
car.pop('model')
car

{'brand': 'Ford', 'year': 1964}

### Question 9
Print "Hello World" if a is greater than b.

In [43]:
a = 50
b = 10

In [12]:
# Write your code here

### Question 10
Print "Yes" if a is equal to b, otherwise print "No".

In [34]:
a = 50
b = 10

In [43]:
if a == b:
    print("Yes")
else:
    print("No")

No

### Question 11
Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [45]:
a = 50
b = 10

In [47]:
if a == b:
    print("1")
if a > b:
    print("2")
else: 
    print("3")

2

### Question 12
Print "Hello" if a is equal to b, or if c is equal to d.

In [48]:
a = 50
b = 10
c = 20
d = 20

In [49]:
if a == b or c ==d:
    print("Hello")

Hello

### Question 13
Loop through the items in the fruits list.

In [50]:
fruits = ["apple", "banana", "cherry"]

In [51]:
for string in fruits:
    print(string)

apple
banana
cherry

### Question 14
Use the range function to loop through a code set 6 times.

In [52]:
for x in range(6):
    print(x)

0
1
2
3
4
5

### Question 15
Exit the loop when x is "banana".

In [53]:
fruits = ["apple", "banana", "cherry"]

In [55]:
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

### Question 16
Create a function that takes 2 string as input 'firstname' & 'lastname' and returns a single concatenated string back, add spaces between names

In [5]:
def function (x,y):
    temp=[]
    temp.append(x)
    temp.append(y)
    temp=' '.join(temp)
    return temp

In [6]:
function('Aditi','Arora')

'Aditi Arora'